*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.kotlin/
local.properties
/app/release/
/gradle/gradle-daemon-jvm.properties
/app/src/main/java/com/nevoit/cresto/secrets/
/glasense-ui-demo/build/
/glasense-ui-demo/release/output-metadata.json
/glasense-ui-demo/release/baselineProfiles/0/glasense-ui-demo-release.dm
/glasense-ui-demo/release/baselineProfiles/1/glasense-ui-demo-release.dm
